.jarra{
  position: fixed;            
  top: 99px;
  right: 40px;
  width: 12em;
  text-align: center;
  color: rgba(82, 82, 82, 0.76);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 1em;
  margin-right: 1.5em;

  z-index: 9999;    
}

.icon-jugo{
    margin-right: 1em;
    margin-left: 10px;
}

@media (max-width: 576px){ 
  .jarra{
             
  top: 84px;
  right: 10px;
  
}
}
