.logo {
  display: flex;
  font-size: 0.8em;
  
}
.logoIMG {
  margin-right: 2em;
  margin-left: 1em;
}


@media (max-width: 576px) {
  .logo{
    margin-left: -2px;
    margin-right: 6px;
  }

  .logoIMG{
    width: 40px;
    
  }
}