
.zonas-container{
  background-color: #2b0e47;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 3em;
  margin-left: 6em;
  height: 44em;
  width: 104em;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  text-align: center;
  
  display: flex;
  flex-direction:column;
        
}

.mensaje-animacion{
  margin: 0 auto;
  margin-top: 9em;
  margin-bottom: 9em;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease;
  
}



.mensaje-animacion.oculto {
  opacity: 0;
  transform: translateY(-50px);
  pointer-events: none;
  
}




.pisos {
  display: flex;
  gap: 10px;
  justify-content: center;
  transition: transform 0.8s ease,
  opacity 0.8s ease;
  
}

.pisos.arriba {
  transform: translateY(-320px);
}


.sotano{
    height: 20em;
    width: 20em;
    display: flex;
    
}
.piso1{
    height: 20em;
    width: 20em;
    padding-left: 10px;
    display: flex;
    

}  

.piso2{
    height: 20em;
    width: 20em;
    padding-left: 10px;
    display: flex;
    
}
  .piso3{
    height: 20em;
    width: 20em;
    padding-left: 10px;
    display: flex;
    
}
    .piso4{
    height: 20em;
    width: 20em;
    padding-left: 10px;
    display: flex;
    
}
     
    .sotano button,
    .piso1 button,
    .piso2 button,
    .piso3 button,
    .piso4 button {
        width:  100%;
        height: 100%;
        font-size: 1rem;
        cursor: pointer;
        background-color: #661ec4;
        border-color: transparent;
        border-radius: 5px;   
        transition: background-color 0.3s ease, transform 0.3s ease;
        transform-origin: bottom;
       
        
    }
    .sotano :hover,
    .piso1 :hover,
    .piso2 :hover,
    .piso3 :hover,
    .piso4 :hover {
        background-color:#4c0ca0;
        box-shadow: 0 0 25px rgba(44, 5, 80, 0.6); 
        transform: scale(1.05);
    }
    
    .sotano.activo button,
    .piso1.activo button,
    .piso2.activo button,
    .piso3.activo button,
    .piso4.activo button {
        transform: scale(1.05);
        background-color:#4c0ca0;
        box-shadow: 0 0 25px rgba(44, 5, 80, 0.6); 
    }
    

     


  .location{
    cursor: pointer color;
    min-height: 20em;
    width: auto;
    display: flex;
    margin-left: -6px;
    transition: all 0.6s ease;
    pointer-events: none;
    gap: 10px;

    
}

    .location.mostrar{
      opacity: 1;
      transform: translateY(-250px);
      pointer-events: all;
    }

    .location button{
            
        height: 20em;
        width: 100%;
        max-width: 100em;
        gap: 5px;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 10px;
        border-color: transparent;
        border-radius: 5px;
        transform-origin: top ;
        background-color: royalblue;
        
    }
    .location button:hover{
    background-color:rgb(38, 85, 228); 
    transition: all 0.3s ease;
    box-shadow: 0 0 25px rgba(44, 5, 80, 0.6); 
    transform: scale(1.05);
    
    }

    .location button.activa {
        transform: scale(1.05);
        background-color:rgb(38, 85, 228); 
        transition: all 0.3s ease;
        box-shadow: 0 0 25px rgba(44, 5, 80, 0.6);  
    }

    .location:has(button:only-child) {
      justify-content: center;
      align-items: center;
    }

    .location:has(button:only-child) button {
      width: 90%;              
      height: 12em;            
     font-size: 1.3rem;       
     background-color: rgb(65, 105, 225);
      transition: all 0.3s ease;
    }
    
    .location:has(button:nth-child(3):last-child){
      justify-content: center;
      align-items: center;
      gap: 20px;

    }

    .barra-db{
      width: 100%;
      height: 2em;
    }

    .info-db{
      background-color: darkgray;
      height: 2em;
      padding: 8px;
      
    }

    .iniciar-loro{
      height: 3em;
      border-radius: 5px;
      background-color: royalblue;
    }

    .iniciar-loro button :hover{
      background-color: aqua;
     
    }

    .txt-iniciar{
      font-size: 1.5em;
      
    }
    




@media(max-width: 1366px){
  .zonas-container{
  background-color: #2b0e47;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 1em;
  margin-left: 1em;
  height: 29.5em;
  width: 79.5em;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: flex;
  flex-direction:column;
        
}

.mensaje-animacion{
  margin: 0 auto;
  margin-top: 6em;
  margin-bottom: 6em;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease;
  
}



.mensaje-animacion.oculto {
  opacity: 0;
  transform: translateY(-100px);
  pointer-events: none;
  
}




.pisos {
  display: flex;
  gap: 10px;
  justify-content: center;
  transition: transform 0.8s ease,
  opacity 0.8s ease;
  
}

.pisos.arriba {
  transform: translateY(-240px);
}


.sotano{
    height: 15em;
    width: 20em;
    display: flex;
    
}
.piso1{
    height: 15em;
    width: 20em;
    padding-left: 10px;
    display: flex;
    

}  

.piso2{
    height: 15em;
    width: 20em;
    padding-left: 10px;
    display: flex;
    
}
  .piso3{
    height: 15em;
    width: 20em;
    padding-left: 10px;
    display: flex;
    
}
    .piso4{
    height: 15em;
    width: 20em;
    padding-left: 10px;
    display: flex;
    
}
     
    .sotano button,
    .piso1 button,
    .piso2 button,
    .piso3 button,
    .piso4 button {
        width:  100%;
        height: 100%;
        font-size: 1rem;
        cursor: pointer;
        background-color: #661ec4;
        border-color: transparent;
        border-radius: 5px;   
        transition: background-color 0.3s ease, transform 0.3s ease;
        transform-origin: bottom;
       
        
    }
    .sotano :hover,
    .piso1 :hover,
    .piso2 :hover,
    .piso3 :hover,
    .piso4 :hover {
        background-color:#4c0ca0;
        box-shadow: 0 0 25px rgba(44, 5, 80, 0.6); 
        transform: scale(1.05);
    }
    
    .sotano.activo button,
    .piso1.activo button,
    .piso2.activo button,
    .piso3.activo button,
    .piso4.activo button {
        transform: scale(1.05);
        background-color:#4c0ca0;
        box-shadow: 0 0 25px rgba(44, 5, 80, 0.6); 
    }
    

     


  .location{
    cursor: pointer color;
    min-height: 15em;
    width: 80em;
    display: flex;
    margin-left: -6px;
    transition: all 0.6s ease;
    pointer-events: none;
    gap: 10px;

    
}

    .location.mostrar{
      opacity: 1;
      transform: translateY(-230px);
      pointer-events: all;
    }

    .location button{
        background-color: #2b0e47;
        height: 15em;
        width: 100%;
        max-width: 100em;
        gap: 5px;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 10px;
        border-color: transparent;
        border-radius: 5px;
        transform-origin: top ;
        background-color: royalblue;
        
    }
    .location button:hover{
    background-color:rgb(38, 85, 228); 
    transition: all 0.3s ease;
    box-shadow: 0 0 25px rgba(44, 5, 80, 0.6); 
    transform: scale(1.05);
    
    }

    .location button.activa {
        transform: scale(1.05);
        background-color:rgb(38, 85, 228); 
        transition: all 0.3s ease;
        box-shadow: 0 0 25px rgba(44, 5, 80, 0.6);  
    }

    .location:has(button:only-child) {
      justify-content: center;
      align-items: center;
    }

    .location:has(button:only-child) button {
      width: 90%;              
      height: 12em;            
     font-size: 1.3rem;       
     background-color: rgb(65, 105, 225);
     
      transition: all 0.3s ease;
    }
    
    .location:has(button:nth-child(3):last-child){
      justify-content: center;
      align-items: center;
      gap: 20px;
      

    }

    .barra-db{
      width: 100%;
      height: 2em;
    }

    .info-db{
      background-color: darkgray;
      height: 2em;
      padding: 8px;
      
    }

    .iniciar-loro{
      height: 3em;
      border-radius: 5px;
      background-color: royalblue;
    }

    .iniciar-loro button :hover{
      background-color: aqua;
     
    }

    .txt-iniciar{
      font-size: 1.5em;
      
    }
}