
.zonas-container{
    background-color: #2b0e47;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 3em;
  margin-left: 6em;
  height: 44em;
  width: 104em;
  border: 1px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  text-align: center;
  
  display: flex;
  
  flex-direction:column;
        
}
.pisos {
  display: flex;  
  gap: 5px;
}
.piso1{
    height: 20em;
    width: 40em;
    display: flex;
    
    
    

}
    .piso1 button,
    .piso2 button,
    .piso3 button {
        width:  100%;
        height: 100%;
        font-size: 1rem;
        cursor: pointer;
        background-color: #661ec4;
        border-color: transparent;
        border-radius: 5px;   
        transition: background-color 0.3s ease, transform 0.3s ease;
        
    }

    .piso1 :hover,
    .piso2 :hover,
    .piso3 :hover {
        background-color:#4c0ca0;
        box-shadow: 0 0 25px rgba(44, 5, 80, 0.6); 
        transform: scale(1.09);
    }

    

  .piso2{
    height: 20em;
    width: 40em;
    padding-left: 7px;
    display: flex;
    
}
  .piso3{
    height: 20em;
    width: 40em;
    padding-left: 7px;
    display: flex;
    
  }
        


  .location{
    cursor: pointer color;
    height: 20em;
    display: flex;
    margin-top: auto;
    margin-left: -6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}
    .location button{
        width:  100%;
        height: 100%;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 10px;
        border-color: transparent;
        border-radius: 5px;
        transform-origin: bottom ;
        background-color: royalblue;
        
    }
    .location button:hover{
    background-color:rgb(38, 85, 228); 
    transition: all 0.3s ease;
    box-shadow: 0 0 25px rgba(147, 51, 234, 0.6); 
    transform: scale(1.05);
    
    }
.txt{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.zona-azul {
    text-align: center;
    
    display: flex;
    position:absolute;
    background-color: blue;
    
}

.zona {
    display: flex;
  padding: 1em;
  
}

.boxcontent{
    background-color: #18042c;
    width: 115em;   
    height: 58em;
    position: absolute;
    top: 29em;
    left: 60em;
    transform: translate(-57.5em, -27em);
    border-radius: 2em;
} 
.ContenedorListaUser{
    display: flex;

}
.boxinfocontent{
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
}

#ListaUser{
    text-decoration: none;
    list-style: none;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    padding: 1em;
    color: white;
}


.Mapcontent{

    position: absolute;
    height: 37em;
    width: 70em;
    margin-left: 14em;
    border-radius: 1.5em;

}

.col{
    
    height: 10em;
    width: 3em;
}

.TextProbi{
    font-size: 1.7em;
    text-align: center;
    margin-top: 10em ;
}

@media(max-width: 1366px){
    .zonas-container{
    background-color: #2b0e47;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 3em;
  margin-left: 6em;
  height: 26em;
  width: 70em;
  border: 1px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  text-align: center;
  box-shadow: 0 0 6px rgba(147, 51, 234, 0.6); 
  display: flex;
  
  flex-direction:column;
        
}
.pisos {
  display: flex;  
  gap: 5px;
}
.piso1{
    height: 20em;
    width: 40em;
    display: flex;

}
    .piso1 button,
    .piso2 button,
    .piso3 button {
        width:  100%;
        height: 100%;
        font-size: 1rem;
        cursor: pointer;
        background-color: #661ec4;
        border-color: transparent;
        border-radius: 5px;
        
    }

  .piso2{
    height: 20em;
    width: 40em;
    padding-left: 7px;
    display: flex;
    
}
  .piso3{
    height: 20em;
    width: 40em;
    padding-left: 7px;
    display: flex;

  }

  .location{
    cursor: pointer color;
    height: 10em;
    display: flex;
    margin-top: auto;
    
}
    .location button{
        width:  100%;
        height: 100%;
        font-size: 1rem;
        cursor: pointer;
        margin-left: 10px;
        border-color: transparent;
        border-radius: 5px;
        
    }
}



