.txt-navbar {
  font-size: 1.1em;
  margin-right: 0.9em;
  cursor: pointer;
}

.hamburguesa{
  display: hidden;
}


a:hover {
  color: #d98df0;
 
}

a::target{
  color: #d98df0;
}

@media (min-width: 1600) {
  .txt-navbar {
    font-size: 2em;
    margin-right: 3em;
  }
 
}

@media (max-width: 576px) {
  .container-navbar{
    display: none;
  }

  .hamburguesa{
    margin-right: 1vh;
  }

  .txt-navbar{
    margin-left: 2em;  

  }
  

}

