
#btnUser{
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent; 
    color: #ffffff; 
    border: none; 
    outline: none; 
    border-radius: 5px; 
    text-decoration: none; 
    transition:  0.3s ease, color 0.3s ease; 

}
#btnUser:hover{
    background-color: #1c0a38; 
    color: white;
}
.menu-desplegable-xd {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 14em;
  color: rgba(82, 82, 82, 0.76);
  text-align: center;
  opacity: 0;
  transform: translateX(50px);
  pointer-events: none;
  transition: all 0.8s ease;
}

.menu-desplegable-xd.activo {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

/* Estilo del texto y hover */
.menu-desplegable-xd ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-desplegable-xd li {
  padding: 8px;
  cursor: pointer;
}

.menu-desplegable-xd li:hover {
  background-color: #f0f0f0;
}

#UserBienvenida {
  margin-bottom: 0.3em;
  border-bottom: 1px solid #b4b1b1;
}

@media (max-width: 576px) {
 .menu-desplegable-xd {
  
  top: 68px;
  right: 35px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 14em;
  color: rgba(82, 82, 82, 0.76);
  text-align: center;
  opacity: 0;
  transform: translateX(50px);
  pointer-events: none;
  transition: all 0.8s ease;
} 
  
}