.ContainerUser-sp{
    background-color: #18042c;
    width: 115em;   
    height: 56em;
    position: absolute;
    top: 29em;
    left: 60em;
    transform: translate(-57.5em, -27em);
    border-radius: 2em;
}

.txt-provicional{
    display: flex;
    margin-left : 35%;
    margin-right: 20%;
    margin-top: 15%;
}